<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="NectarConfig" type="Models.RunConfigSection, Models" />
  </configSections>
  <NectarConfig>
    <RunConfigs>
      <!-- Put configs here -->
<RunConfig Name="0">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="10"
  NumOfMemberships="2"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.1"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="1">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="10"
  NumOfMemberships="2"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.2"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="2">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="10"
  NumOfMemberships="2"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.3"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="3">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="10"
  NumOfMemberships="3"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.1"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="4">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="10"
  NumOfMemberships="3"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.2"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="5">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="10"
  NumOfMemberships="3"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.3"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="6">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="10"
  NumOfMemberships="4"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.1"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="7">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="10"
  NumOfMemberships="4"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.2"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="8">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="10"
  NumOfMemberships="4"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.3"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="9">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="20"
  NumOfMemberships="2"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.1"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="10">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="20"
  NumOfMemberships="2"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.2"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="11">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="20"
  NumOfMemberships="2"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.3"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="12">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="20"
  NumOfMemberships="2"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.4"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="13">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="20"
  NumOfMemberships="3"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.1"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="14">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="20"
  NumOfMemberships="3"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.2"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="15">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="20"
  NumOfMemberships="3"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.3"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="16">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="20"
  NumOfMemberships="3"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.4"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="17">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="20"
  NumOfMemberships="4"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.1"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="18">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="20"
  NumOfMemberships="4"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.2"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="19">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="20"
  NumOfMemberships="4"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.3"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="20">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="20"
  NumOfMemberships="4"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.4"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="21">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="20"
  NumOfMemberships="5"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.1"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="22">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="20"
  NumOfMemberships="5"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.2"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="23">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="20"
  NumOfMemberships="5"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.3"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="24">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="20"
  NumOfMemberships="5"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.4"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="25">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="20"
  NumOfMemberships="6"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.1"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="26">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="20"
  NumOfMemberships="6"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.2"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="27">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="20"
  NumOfMemberships="6"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.3"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="28">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="20"
  NumOfMemberships="6"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.4"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="29">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="2"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.1"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="30">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="2"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.2"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="31">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="2"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.3"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="32">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="2"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.4"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="33">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="2"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.5 "
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="34">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="2"
  MaxDegree="100 "
  DegreeSeqExpo="2"
  MixingParam="0.1"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="35">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="2"
  MaxDegree="100 "
  DegreeSeqExpo="2"
  MixingParam="0.2"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="36">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="2"
  MaxDegree="100 "
  DegreeSeqExpo="2"
  MixingParam="0.3"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="37">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="2"
  MaxDegree="100 "
  DegreeSeqExpo="2"
  MixingParam="0.4"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="38">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="2"
  MaxDegree="100 "
  DegreeSeqExpo="2"
  MixingParam="0.5 "
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="39">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="3"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.1"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="40">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="3"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.2"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="41">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="3"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.3"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="42">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="3"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.4"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="43">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="3"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.5 "
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="44">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="3"
  MaxDegree="100 "
  DegreeSeqExpo="2"
  MixingParam="0.1"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="45">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="3"
  MaxDegree="100 "
  DegreeSeqExpo="2"
  MixingParam="0.2"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="46">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="3"
  MaxDegree="100 "
  DegreeSeqExpo="2"
  MixingParam="0.3"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="47">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="3"
  MaxDegree="100 "
  DegreeSeqExpo="2"
  MixingParam="0.4"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="48">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="3"
  MaxDegree="100 "
  DegreeSeqExpo="2"
  MixingParam="0.5 "
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="49">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="4"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.1"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="50">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="4"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.2"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="51">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="4"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.3"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="52">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="4"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.4"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="53">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="4"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.5 "
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="54">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="4"
  MaxDegree="100 "
  DegreeSeqExpo="2"
  MixingParam="0.1"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="55">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="4"
  MaxDegree="100 "
  DegreeSeqExpo="2"
  MixingParam="0.2"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="56">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="4"
  MaxDegree="100 "
  DegreeSeqExpo="2"
  MixingParam="0.3"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="57">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="4"
  MaxDegree="100 "
  DegreeSeqExpo="2"
  MixingParam="0.4"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="58">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="4"
  MaxDegree="100 "
  DegreeSeqExpo="2"
  MixingParam="0.5 "
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="59">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="5"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.1"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="60">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="5"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.2"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="61">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="5"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.3"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="62">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="5"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.4"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="63">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="5"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.5 "
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="64">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="5"
  MaxDegree="100 "
  DegreeSeqExpo="2"
  MixingParam="0.1"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="65">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="5"
  MaxDegree="100 "
  DegreeSeqExpo="2"
  MixingParam="0.2"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="66">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="5"
  MaxDegree="100 "
  DegreeSeqExpo="2"
  MixingParam="0.3"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="67">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="5"
  MaxDegree="100 "
  DegreeSeqExpo="2"
  MixingParam="0.4"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="68">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="5"
  MaxDegree="100 "
  DegreeSeqExpo="2"
  MixingParam="0.5 "
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="69">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="6"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.1"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="70">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="6"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.2"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="71">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="6"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.3"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="72">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="6"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.4"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="73">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="6"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.5 "
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="74">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="6"
  MaxDegree="100 "
  DegreeSeqExpo="2"
  MixingParam="0.1"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="75">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="6"
  MaxDegree="100 "
  DegreeSeqExpo="2"
  MixingParam="0.2"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="76">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="6"
  MaxDegree="100 "
  DegreeSeqExpo="2"
  MixingParam="0.3"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="77">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="6"
  MaxDegree="100 "
  DegreeSeqExpo="2"
  MixingParam="0.4"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="78">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="6"
  MaxDegree="100 "
  DegreeSeqExpo="2"
  MixingParam="0.5 "
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="79">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="7"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.1"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="80">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="7"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.2"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="81">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="7"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.3"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="82">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="7"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.4"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="83">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="7"
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.5 "
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="84">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="7"
  MaxDegree="100 "
  DegreeSeqExpo="2"
  MixingParam="0.1"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="85">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="7"
  MaxDegree="100 "
  DegreeSeqExpo="2"
  MixingParam="0.2"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="86">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="7"
  MaxDegree="100 "
  DegreeSeqExpo="2"
  MixingParam="0.3"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="87">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="7"
  MaxDegree="100 "
  DegreeSeqExpo="2"
  MixingParam="0.4"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="88">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="7"
  MaxDegree="100 "
  DegreeSeqExpo="2"
  MixingParam="0.5 "
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="89">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="8 "
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.1"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="90">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="8 "
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.2"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="91">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="8 "
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.3"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="92">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="8 "
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.4"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="93">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="8 "
  MaxDegree="50"
  DegreeSeqExpo="2"
  MixingParam="0.5 "
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="94">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="8 "
  MaxDegree="100 "
  DegreeSeqExpo="2"
  MixingParam="0.1"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="95">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="8 "
  MaxDegree="100 "
  DegreeSeqExpo="2"
  MixingParam="0.2"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="96">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="8 "
  MaxDegree="100 "
  DegreeSeqExpo="2"
  MixingParam="0.3"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="97">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="8 "
  MaxDegree="100 "
  DegreeSeqExpo="2"
  MixingParam="0.4"
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>

<RunConfig Name="98">
<Lfr
  NumberOfNodes="30000"
  AvgDegree="40 "
  NumOfMemberships="8 "
  MaxDegree="100 "
  DegreeSeqExpo="2"
  MixingParam="0.5 "
  CommSizeDistExp="1 "
  MinCommSize="1"
  MaxCommSize="1"
  NumOfOverlappingNodes="3000" />
<Nectar
  Betas="1.01;1.05;1.09;1.1;1.2;1.3;1.4" 
  Alpha="0.8"
  StartMergeAt="4"
  MaxNumberOfIterations="20"
  InitMode="0"
  PrecentageOfStableNodes="95" />
</RunConfig>




    </RunConfigs>
   </NectarConfig> 
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>